.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.overlay {
  position: absolute;
  height: 100%;
  background-color: rgb(10, 247, 116);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
}
.homeContent {
  width: 100%;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: white;
  row-gap: 3rem;
  z-index: 100;
}
.textDiv {
  padding: 2rem 0;
}
.smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.homeTitle {
  position: relative;
  font-size: 1.8rem;
}

.cardDiv {
  position: relative;
  padding: 2rem 1rem;
  background: whitesmoke;
  border-radius: 10px;
  gap: 1rem;
}
label {
  color: grey;
  display: block;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.label_total {
  justify-content: space-between;
  align-items: center;
}
.total {
  color: grey;
  font-size: 18px;
  padding-bottom: 10px;
}
.input {
  height: 40px;
  padding: 0 1rem;
  background: white;
  border-radius: 3rem;
}
input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
input::placeholder {
  font-size: 13px;
}
.input > .icon {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.input[type="range"] {
  background: blue;
  /* background-color: red; */
}
.cardDiv :nth-child(4) {
  color: grey;
}
.searchOptions {
  color: grey;
  position: absolute;
  background-color: rgb(37, 127, 139);
  width: max-content;
  bottom: -0.7rem;
  column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.searchOptions:hover {
  background-color: aqua;
  color: black;
}
.searchOptions > .icon {
  font-size: 20px;
  margin-bottom: 8px;
}
span {
  font-size: 13px;
}
.homeFooterIcons {
  width: 100%;
  justify-content: space-between;
}
.icon {
  font-size: 20px;
  margin: 0 5px;
  color: white;
  font-weight: 600;
}
.icon:hover {
  color: rgba(245, 245, 245, 0.667);
}

/* media queries =======================*/
@media screen and (min-width: 500px) {
  .smallText {
    font-size: 16px;
  }
  .homeTitle {
    position: relative;
    font-size: 2.3rem;
    width: max-content;
    /* color: red; */
  }
  .homeTitle::after {
    position: absolute;
    content: "";
    background-color: whitesmoke;
    height: 5px;
    width: 145px;
    right: 0;
    bottom: 5px;
    z-index: -1;
  }
  .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* media queries =======================*/
@media screen and (min-width: 660px) {
  .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* media queries =======================*/
@media screen and (min-width: 940px) {
  .home {
    height: 70vh;
  }
}
/* media queries =======================*/
@media screen and (min-width: 1240px) {
  .home {
    height: 80vh;
  }
  .homeContent {
    padding-left: 0;
    padding-right: 0;
  }
  .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .input {
    margin-bottom: 1rem;
  }
  .searchOptions {
    bottom: -1rem;
    padding: 8px 1rem;
  }
}
